.number{
	position: relative;
	float: left;
}
.line{
	clear: left;
	margin: 20px;
}
.symbol{
	position: absolute;
}
.a{
	top:15px;
}
.b{
	top:17px;
}
.c{
	top:19px;
}
.d{
	top:3px;
	left:2px;
}
.e{
	top:0px;
	left:2px;
}
.f{
	top:-3px;
	left:2px;
}
.g{
	top:25px;
	left:2px;
}
.h{
	top:28px;
	left:2px;
}
.i{
	top:31px;
	left:2px;
}